
html{
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    margin: 0;
    background-color: #EBDDC3;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    transition: 0.5s;
    background-color:transparent ;
    z-index: 2;
}

.scrollUp {
    transform: translateY(-80px);
}

.isNotTop {
    background-color:#eddab0 ;
}

nav ul {
    display: flex;
    list-style-type:none;
    list-style-type: none;
    justify-content: space-evenly;
}
nav ul a {
    text-decoration: none;
    color: #18183D !important;
}

nav ul a:hover {
    color: #5d5d88 !important;
}

.section-home{
    height: 120vh;
    background-image: url("../public/background_chloe.png");
    background-size: cover;
    background-position-x: center;
}

.home-information-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.secondary-section{
    display: flex;
    z-index: 1;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.section-1{
    background-size: cover;
    background-position-x: center;
    color: #EAD2D1;
    transition: 0.5s;
}

.profile-container-background{
    width: 100%;
    height: calc(100% + 185px);
    position: absolute;
    background-image: url("../public/ground.png");
    transition: 0.1s;
    transform: translateY(-185px);
}

.section-2{
    background-color: #EBDDC3;
}
.section-3{
    background-color: #3C2E1B;
    color: #EAD2D1;
}

.home-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.home-design{
    height: 100%;
    width: 100%;
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.profile-image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: white;
}

.image-container{
    width: 100%;
    background-image: url("https://images.inc.com/uploaded_files/image/1920x1080/getty_478389113_970647970450091_99776.jpg");
    background-size: cover;
}